{% extends "admin/admin.html" %}

{% block content %}
<section class="content-header">
    <h1>编辑主机</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主机管理</a></li>
        <li class="active">编辑主机</li>
    </ol>
</section>
<section class="content" id="showcontent">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                </div>
                <form role="form" method="POST">
                    <div class="box-body">
                        {% for mes in get_flashed_messages(category_filter=["ok"]) %}
                        <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i> 操作成功！</h4>
                        {{ mes }}
                        </div>
                        {% endfor %}
                        {% for mes in get_flashed_messages(category_filter=["err"]) %}
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-ban"></i> 操作失败!</h4>
                            {{ mes }}
                        </div>
                        {% endfor %}
                        <div class="form-group">
                            <label for="input_name">{{ form.host_name.label }}</label>
                            {{ form.host_name(value=host.name) }}
                            {% for err in form.host_name.errors %}
                            <div class="col-md-12">
                                <font style="color:red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="input_name">{{ form.system.label }}</label>
                            {{ form.system(value=host.system) }}
                            {% for err in form.system.errors %}
                            <div class="col-md-12">
                                <font style="color:red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="input_name">{{ form.outernet_ip.label }}</label>
                            {{ form.outernet_ip(value=host.outernet_ip) }}
                            {% for err in form.outernet_ip.errors %}
                            <div class="col-md-12">
                                <font style="color:red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="input_name">{{ form.intranet_ip.label }}</label>
                            {{ form.intranet_ip(value=host.intranet_ip) }}
                            {% for err in form.intranet_ip.errors %}
                            <div class="col-md-12">
                                <font style="color:red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="input_name">{{ form.cpu.label }}</label>
                            {{ form.cpu(value=host.cpu) }}
                            {% for err in form.cpu.errors %}
                            <div class="col-md-12">
                                <font style="color:red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="input_name">{{ form.memory.label }}</label>
                            {{ form.memory(value=host.memory) }}
                            {% for err in form.memory.errors %}
                            <div class="col-md-12">
                                <font style="color:red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="input_name">{{ form.disk.label }}</label>
                            {{ form.disk(value=host.disk) }}
                            {% for err in form.disk.errors %}
                            <div class="col-md-12">
                                <font style="color:red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="input_name">{{ form.username.label }}</label>
                            {{ form.username(value=host.username) }}
                            {% for err in form.username.errors %}
                            <div class="col-md-12">
                                <font style="color:red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="input_name">{{ form.password.label }}</label>
                            {{ form.password(value=host.password) }}
                            {% for err in form.password.errors %}
                            <div class="col-md-12">
                                <font style="color:red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="input_name">{{ form.port.label }}</label>
                            {{ form.port(value=host.port) }}
                            {% for err in form.port.errors %}
                            <div class="col-md-12">
                                <font style="color:red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="input_name">{{ form.ssh_port.label }}</label>
                            {{ form.ssh_port(value=host.ssh_port) }}
                            {% for err in form.ssh_port.errors %}
                            <div class="col-md-12">
                                <font style="color:red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="input_role_id">{{ form.status.label }}</label>
                            {{ form.status }}
                            {% for err in form.status.errors %}
                            <div class="col-md-12">
                                <font style="color:red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="box-footer">
                        {{form.csrf_token}}
                        {{form.submit_edit}}
                        {{form.submit_back}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block js%}
<script>
    $(document).ready(function(){
        $("#g-3").addClass("active");
        $("#g-3-1").addClass("active");
    });

</script>
{% endblock %}